.body-pages_d{
    main{
        div{
            h3{
                padding: 120px 150px 150px 150px;
                line-height: 0;
            }
        }
    }
}
.maindigital{
    hr{
        border: none;
        height: 2px;
        background-color: white;
        margin: 0px 10rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    section{
        div{
            p{
                color: white;
                text-align: center;
                margin-bottom: 50px;
            }
        }
    }
}
.stone{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 5px;
    img{
        height: 600px;
        border:solid 15px;
        border-color: white;
    }
}
.lugar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 5px;
    img{
        height: 450px;
        border:solid 15px;
        border-color: white;
    }
}