.body-pages_d{
    main{
        div{
            h3{
                padding: 120px 150px 150px 150px;
                line-height: 0;
            }
        }
    }
}
.digital-font{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 3px;
    padding-left: 1%;
}