header{
    background-color: rgba(255, 255, 255, 0.200);
    @include flex(row,center,center,none);
    width: 100%;
    height: 65px;
    a{
        img{
            max-width: 40px;
            max-height: auto;
            transition: 0.2s ease;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    nav{
        ul{
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            padding: 15px;
            gap: 15px;
            li{
                a{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    &:hover{
                        color: rgb(190, 190, 190);
                    }
                }
            }
        }
    }
}

