.maindigital{
    hr{
        border: none;
        height: 2px;
        background-color: white;
        margin: 5rem 10rem;
    }
    section{
        div{
            p{
                color: white;
                text-align: center;
                margin-bottom: 50px;
            }
        }
    }
}
.stone{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 5px;
    img{
        width: 35%;
        border:solid 15px;
        border-color: white;
    }
}
.lugar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 50px;
    gap: 5px;
    img{
        width: 45%;
        border:solid 15px;
        border-color: white;
    }
}