.main-index{
    display: grid;

    section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: 700px;
        gap: 75px;
        hr{
            border: none;
            height: 2px;
            background-color: white;
            margin: 0px 30%;
        }
        h2{
            a{
                text-decoration: none;
                color: inherit;
                cursor: crosshair;
            }
        }
    }
    div{
        display: grid;
        overflow-wrap: break-word;
        justify-content: space-between;
        grid-template-columns: 1fr 3fr;
        background-color: rgba(67, 67, 67, 0.703);
        width: 100%;
        height: auto;
        align-items: center;
        justify-items: center;
        gap: 3.125rem;
        margin-bottom: 50px;

        img{
            max-width: 300px;
            max-height: 300px;
            margin: 25px;
            border-radius: 5px;
            margin-left: 40px;
        }
        p{
            color: white;
            font-family: "League Spartan", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;
            font-size: 1.5rem;
            line-height: 1.3;
            padding: 30px;
            text-align: justify;
            justify-content: center;
            margin-right: 90px;
        }
    }
}

