@media (max-width: 320px){
    .Titulo-rodaje{
        gap: 20px;
        h4{
            font-size: 0.60rem;
        }
        a{
            img{
                max-width: 100px;
            }
        }
    }
    .galeria{
        height: 225px;
    }
    .galerias-rodaje{
        section{
            margin-bottom: 75px;
        }
    }
}