h1{
    color: rgb(232, 232, 232);
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 8.5rem;
    line-height: 1;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.2s ease;
    &:hover{
        transform: scale(1.05);
    }
}

h2{
    color: rgb(232, 232, 232);
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
    font-size: 4.5rem;
}

h3{
    color: rgb(232, 232, 232);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 4.5rem;
    text-align: left;
}

h4{
    color: rgb(232, 232, 232);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-align: right;
    font-size: 1.5rem;
    line-height: 1.4;

}

h5{
    color: rgb(232, 232, 232);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    font-size: 3.5rem;

}

h6{
    color: rgb(232, 232, 232);
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: italic;
    text-align: left;
    font-size: 1rem;
}

.subtituloLight{
    font-size: 2rem;
    font-weight: 100;

}

