.body-index{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    background-image: url(../assets/textura-grano-fondo.jpg);
    background-size: cover;
}
.body-index_d{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    background-image: url(../assets/fondo_digital.jpg);
    background-size: cover;
}
.body-pages{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
    background-image: url(../assets/grano3200.jpg);
    background-size: contain;
}
nav{
    ul{
        margin: 0;
        li{
            margin: 0;
            a{
                font-size: 1rem;
            }
        }
    }
}
h6{
    line-height: 1;
}