@media (max-width: 768px){
    .body-pages-c{
        main{
            div{
                h3{
                    font-size: 2rem;
                    padding: 70px;
                    text-align: center;
                }
            }
        }
    }
}