@media (max-width: 768px){
    .body-pages-c{
        main{
            div{
                h3{
                    font-size: 2rem;
                    padding: 70px;
                    text-align: center;
                }
            }
        }
    }
    footer{
        bottom: 0;
    }
    .formulario{
        padding-left: 10px;
        padding-right: 10px;
    }
}
