@media (max-width: 768px){
    .body-pages{
        main{
            div{
                h3{
                    font-size: 2rem;
                    padding: 70px;
                    text-align: center;
                }
            }
            div{
                padding: 10px 10px 0px 10px;
                gap: 10px;
            }
        }
    }
}
.r07{
    margin-bottom: 20px;
}