@media (max-width: 768px){
    .body-pages_d{
        main{
            div{
                h3{
                    font-size: 2rem;
                    padding: 70px;
                    text-align: center;
                }
            }
        }
    }
}
.r07{
    margin-bottom: 20px;
}